# If you want Electrum-Hemis to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Hemis Client
Exec=electrum-hemis %u
GenericName[en_US]=Electrum-Hemis
GenericName=Electrum-Hemis
Icon=electrum-hemis
Name[en_US]=Electrum Hemis Wallet
Name=Electrum Hemis Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-hemis
Terminal=false
Type=Application
MimeType=x-scheme-handler/hemis;x-scheme-handler/lightning;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-hemis --testnet %u
Name=Testnet mode
