include LICENCE RELEASE-NOTES AUTHORS
include README.md
include electrum-hms.desktop
include *.py
include run_electrum_hms
include org.it4f.electrum-hms.metainfo.xml
recursive-include packages *.py
recursive-include packages cacert.pem

include contrib/requirements/requirements*.txt
include contrib/deterministic-build/requirements*.txt
include contrib/*.sh

graft electrum_hms
prune tests
graft contrib/udev

exclude electrum_hms/*.so
exclude electrum_hms/*.so.0
exclude electrum_hms/*.dll
exclude electrum_hms/*.dylib

global-exclude __pycache__
global-exclude *.py[co~]
global-exclude *.py.orig
global-exclude *.py.rej
global-exclude .git

# Maybe we should exclude the compiled locale files? see https://askubuntu.com/a/144139
# We include both source (.po) and compiled (.mo) locale files atm (if present).
# exclude electrum_hms/locale/*/LC_MESSAGES/electrum.mo
